@font-face {
  font-family: 'NanumGothicBold';
  src: url('./fonts/NanumGothicBold.woff');
}

.app {
  font-family: 'NanumGothicBold';
}

.totalScoreRow {
  color: white;
  background-color: gray;
}

.diceButton {
  border: none;
  background-color: transparent;
  padding: 0rem;
  margin: 0.5rem;
}

.diceButton img {
  width: 3rem;
}
