@font-face {
  font-family: 'NanumGothicBold';
  src: url('./fonts/NanumGothicBold.woff');
}

.app {
  font-family: 'NanumGothicBold';
}

.total-score {
  color: white;
  background-color: rgb(80, 80, 80);
}

.dice {
  border: none;
  background-color: transparent;
  padding: 0.1rem;
  margin: 0.4rem;
}

.dice svg {
  width: 3.5rem;
}

.action {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

[data-selected] {
  margin: 0.2rem;
  border: 0.2rem dashed gray;
}

.dices-container {
  height: 4.5rem;
}

.not-decided-score:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.not-decided-score td:last-child {
  color: rgba(0, 0, 0, 0.2);
}

.not-decided-score:hover td:last-child {
  color: white;
}

.decided-score {
  background-color: gray;
  color: white;
}

.score-value-col {
  width: 3.9rem;
}

.score-evaluation-result {
  color: white;
  background-color: rgb(80, 80, 80);
}

.restart {
  margin: 0.5rem 0.5rem 1rem 0;
}

.game-rule {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.instruction {
  padding: 0.5rem;
  margin-bottom: 0;
}
